<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel= "stylesheet"  href="http://1.1/templates/style.css" type = "text/css">
        <link rel="icon" href="data:,">
                
        <nav>
            
            <a href = "/">Home</a>
        
            <a href = '/newpost'>Add a Blog</a>
        </nav>
        <title>{{title}}</title>
    </head>
<body>

    {% block content %}
    
    {% endblock %}

</body>
</html>